/* Centraliza todo o conteúdo */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  margin: 0;
  color: white;
  margin-left: 40px;
  
}

/* Estiliza o contêiner principal */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estiliza o status do jogo */
.status {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffffff;
  border: 3px solid #46773f;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;


}

/* Estiliza o tabuleiro do jogo */
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  color: aqua;
  justify-content: center;
}

/* Estiliza os quadrados do jogo */
.square {
  background-color: #000000;
  border: 3px solid #46773f;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  width: 80px;
  height: 80px;
  margin-left: 10px;
  
}

.square:hover {
  background-color: #ddd;
}

/* Estiliza o botão de reiniciar */
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #46773f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: center;
  margin-left: -30px;
}

button:hover {
  background-color: #274626;
}